/* Base Styles */
body {
  color: #833647;
  text-align: center;
  background-color: #FFE5D9;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
html {
    scroll-behavior: smooth;
}

/* Typography */
/* .margarine-regular {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
h1, h2 {
  font-family: "Margarine", sans-serif;
  color: #f57e90;
  font-size: 40px;
  margin-bottom: 0px;
}

/* Links & Accents */

/* Images */

/* Hero Section */
#hero-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  border: 10px solid #FFCAD4;
}
#hero-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Main Content */
.header-content {
  padding: 0 0;
}
.header-content h1 {
  margin-bottom: 0;
}

/* About Section */
.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.about-header h2 {
  margin: 0;
}
.about-header .material-symbols-outlined {
  font-size: 40px;
  color: #f57e90;
}
.about-us {
  background-color: #FFCAD4;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 20px;
  /* border: 6px solid rgba(131, 54, 71, 0.15); */
}
.about-us h2 {
  margin: 10px 0;
}
.about-us p {
  margin: 8px 0;
}

/* Specials Section */
.specials {
  text-align: center;
}
.specials-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.specials-list .special-offer {
  background-color: #FFCAD4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 280px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.specials-list .special-offer .price-now {
  font-size: 24px;
}
.specials-list .special-offer .price-was {
  text-decoration: line-through;
}
.specials-list .special-offer:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.specials-list .special-offer h3, p {
  margin: 5px 0;
  margin-top: 10px;
}
.specials-list .special-offer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Visit Us Section */
iframe {
  margin-top: 20px;

  width: 50%;
  height: 350px;

  border: none;
  border-radius: 20px;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.address-block,
.phone-block {
  display: flex;
  align-items: center;
  gap: 8px;
}
.address-block address,
.phone-block p {
  margin: 0;
}
.visit-us .contact-info {
  margin-left: 26%;
  text-align: left;
}
.visit-us iframe:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.visit-us .contact-info .phone-block p a {
  color: #833647;
  text-decoration: none;
}
.visit-us .contact-info .phone-block p a:hover {
  color: #da96a2;
}

/* Footer */
footer {
  margin-top: 16px;
}
